hr{
    margin: 0;
}

.rodape{
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape{
    display: none;
}

/*Layout tablet*/
@media screen and (min-width: 1024px){
    .rodape{
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        margin: 0.5rem 0
    }

    .lista-rodape{
        display: block;
    }

    .lista-rodape__link{
        color: var(--cinza);
        text-decoration: none;
        margin: 0 0 0 .5rem;
    }

    .lista-rodape__titulo{
        font-size: 0.875rem;
        color: var(--cinza-claro);
        text-transform: uppercase;
    }

    .rodape__titulo{
        font-size: 1.5rem;
    }
}

/*Layout desktop*/
@media screen and (min-width: 1728px){
    .lista-rodape{
        border-left: 1px solid var(--cinza-claro);
        padding: 0 0 0 1em;
    }

    .rodape{
        padding: 3em 0;
    }
}